body {
    margin: 0 auto;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.9em;
    font-family: Arial;
}
.nav-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navbar {
        font-size: 0.5em;
        padding: 0;
    }
}

h2 {
    font-family: Arial;
    text-align: justify;
}


.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}

.Publications {
display: flex;
}



.card {
    margin: 5px 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
}
.card:hover {
    transform: rotate(2deg);
}
